@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
body{
	zoom: 85%;
}
.navbar-fixed{
	opacity: 0.5;
}
.nav-wrapper{
	background-color: black;
}
.button{
	background-color: black;
}
.parallax-container {
      height: 100%;
}
.myName{
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    padding: 120px;
    margin:  120px;
}
.name{
    font-size: 100px;
    color: #00D646;
    font-family: 'Oswald', sans-serif;
}
.firstChar{
    font-size: 120px;
    color: #004717;
}
#profession{
    font-size: 50px;
    color: #fff;
    font-family: 'Dancing Script', cursive;
}
.skills{
    width: 50%;
    padding: 100px;
    margin:  100px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    float: left;
}
.skill{
    font-size: 100px;
}
#one{
	border-top:12px solid rgba(0, 214, 70, 1);
	margin: 10px;
	padding: 10px;
}
#two{
	border-top:12px solid rgba(0, 214, 70, 1);
	margin: 10px;
	padding: 10px;
}
#tree{
	border-top:12px solid rgba(0, 214, 70, 1);
	margin: 10px;
	padding: 10px;
}
#four{
	border-top:12px solid rgba(0, 214, 70, 1);
	margin: 10px;
	padding: 10px;
}
.slideUp1 {
    animation-name: slideUp1;
    animation-duration: 5s;
    visibility: visible;
    width: 450px;
}

@keyframes slideUp1 {
    from {
        width: 0px;
    } 
    to {
        width: 450px;
    }
}
.slideUp2 {
    animation-name: slideUp2;
    animation-duration: 6s;
    visibility: visible;
    width: 400px;
}

@keyframes slideUp2 {
    from {
        width: 0px;
    } 
    to {
        width: 400px;
    }
}
.slideUp3 {
    animation-name: slideUp3;
    animation-duration: 7s;
    visibility: visible;
    width: 350px;
}

@keyframes slideUp3 {
    from {
        width: 0px;
    } 
    to {
        width: 350px;
    }
}
.slideUp4 {
    animation-name: slideUp4;
    animation-duration: 3s;
    visibility: visible;
    width: 50px;
}

@keyframes slideUp4 {
    from {
        width: 0px;
    } 
    to {
        width: 50px;
    }
}
.section{
	opacity: 0.5;
	text-align: center;
	font-size: 24px;
	padding: 5px;
	font-family: 'Oswald', sans-serif;
}
.experience{
	float: right;
	font-size: 50px;
	width: 34%;
	color: #ffffff;
    font-family: 'Oswald', sans-serif;
    padding-top: 5%;
}
.slideDown{
	animation-name: slideDown;
    animation-duration: 5s;
    visibility: visible;
    height: 350px;
    border-left: 5px solid rgba(0, 214, 70, 1);
    margin: 100px;
}
@keyframes slideDown{
    from {
        height:  0px;
    } 
    to {
        height:  350px;
    }
}
.item{
 	margin-left: -10px;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: rgba(0, 214, 70, 1);
}
#item1{
	margin-bottom: 320px;
}
#item2{
	margin-bottom: -180px;
}
.namesSkills{
	float: left;
	font-size: 30px;
}
.procent{
	float: right;
}