@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
* {
  box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}
::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:5px;
height:0px;
}

::-webkit-scrollbar-track {
background-color:#828282
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background-color:#004717;
}

::-webkit-scrollbar-thumb:hover{
background-color:#56999f;

}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:4px;
height:0px;
}

::-webkit-scrollbar{
width: 10px;
}

.navbar-fixed{
	opacity: 0.5;
}
.nav-wrapper{
	background-color: black;
}
.button{
	background-color: black;
}
.parallax-container {
      height: 100%;
}
@media only screen and (max-width: 600px) {
    .parallax-container {
        height: 80vh;
    }
}	
.fon{
    width: 100%;
    height: auto;
}
.backImg{
	width: 100%;
    height: auto;
}
.myName{
    width: 50vw;
    height: 50vh;
    margin-top: 20%;
    margin-left: 10%;
}
.name{
	cursor: context-menu;
    font-size: 7vw;
    color: #00D646;
    font-family: 'Oswald', sans-serif;
}
.firstChar{
	cursor: context-menu;
    font-size: 10vw;
    color: #004717;
}

#profession{
	cursor: context-menu;
    font-size: 5vw;
    color: #fff;
    font-family: 'Dancing Script', cursive;
}
#profession{
	text-align: center;
   	overflow: hidden;
   	animation-name: apperance;
   	animation-duration: 7s;
}
.name{
	text-align: center;
	overflow: hidden;
   	animation-name: apperance;
   	animation-duration: 7s;
}
.firstChar{
	text-align: center;
	overflow: hidden;
   	animation-name: apperance;
   	animation-duration: 7s;
}

@keyframes apperance {
     0% { transform: rotate(0deg) scale(3.0,3.0) ; opacity: 0;  }
}

#profession {
   overflow: hidden;
   text-shadow: 0px 30px 0px transparent;
   transition: all 300ms linear 0ms;
}
#profession:hover {
   text-shadow: 2px 2px 2px #4F4F4F;
   transition: text-shadow 300ms linear 0ms;
}
#abm{
	font-size: 5vh;
}
#about{
	font-size: 3vh;
}
.skills{
	cursor: context-menu;
	opacity: 0.8;
	background-color: black;
	margin-top: 6%;
	margin-left: 5%;
    width: 39vw;
    padding: 10px;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    float: left;
}
.skills{
   	animation-name: skapp;
   	animation-duration: 5s;
}

@keyframes skapp {
   0% { opacity: 0; transform: translate(0px,-1000px) rotate(0deg) ;  }
   50% { opacity: 1;  }
   60% { transform: translate(0px,30px) rotate(0deg) ;  }
   80% { transform: translate(0px,-10px) rotate(0deg) ;  }
   100% { transform: translate(0px,0px) rotate(0deg) ;  }
}

.skill{
	visibility: hidden;
}
.nameSk{
	font-size: 5vw;
}
.olevel{
	font-size: 3vw;
}
#one{
	border-top:12px solid rgba(0, 214, 70, 1);
	margin: 10px;
	padding: 10px;
}
#two{
	border-top:12px solid rgba(0, 214, 70, 1);
	margin: 10px;
	padding: 10px;
}
#tree{
	border-top:12px solid rgba(0, 214, 70, 1);
	margin: 10px;
	padding: 10px;
}
#four{
	border-top:12px solid rgba(0, 214, 70, 1);
	margin: 10px;
	padding: 10px;
}
.slideUp1 {
    animation-name: slideUp1;
    animation-duration: 5s;
    visibility: visible;
    width: 30vw;
}

@keyframes slideUp1 {
    from {
        width: 0px;
    } 
    to {
        width: 30vw;
    }
}
.slideUp2 {
    animation-name: slideUp2;
    animation-duration: 6s;
    visibility: visible;
    width: 25vw;
}

@keyframes slideUp2 {
    from {
        width: 0px;
    } 
    to {
        width: 25vw;
    }
}
.slideUp3 {
    animation-name: slideUp3;
    animation-duration: 7s;
    visibility: visible;
    width: 20vw;
}

@keyframes slideUp3 {
    from {
        width: 0px;
    } 
    to {
        width: 20vw;
    }
}
.slideUp4 {
    animation-name: slideUp4;
    animation-duration: 3s;
    visibility: visible;
    width: 5vw;
}

@keyframes slideUp4 {
    from {
        width: 0px;
    } 
    to {
        width: 5vw;
    }
}
.section{
	opacity: 0.5;
	text-align: center;
	font-size: 24px;
	padding: 5px;
	font-family: 'Oswald', sans-serif;
}
.experience{
	animation-name: skapp;
   	animation-duration: 5s;
	background-color: black;
	opacity: 0.7;
	cursor: context-menu;
	float: right;
	width: 25vw;
	opacity: 0.8;
	text-align: center;
	font-size: 3vw;
	color: #ffffff;
	margin-top: 5%;
	margin-right: 5%;
    font-family: 'Oswald', sans-serif;
    height: 82vh;
}

#line{
	margin-left: 50%;
}

.slideDown{
	animation-name: slideDown;
    animation-duration: 7s;
    visibility: visible;
    height: 71vh;
    margin-left: 50%;
    border-left: 5px solid rgba(0, 214, 70, 1);
}
@keyframes slideDown{
    from {
        height:  0;
    } 
    to {
        height:  71vh;
    }
}
.item{
 	margin-left: -10px;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: rgba(0, 214, 70, 1);
}
#item1{
	margin-bottom: 67vh;
}
#item2{
	margin-bottom: -39vh;
}
.namesSkills{
	float: left;
	font-size: 2.4vh ;
}
.procent{
	float: right;
}

.portfolio{
	animation: portapp;
	animation-duration: 5s;
	opacity: 0.8;
	float: left;
	background-color: black;
	width: 35vw;
	margin-left: 10vw;
	margin-top: 3%;
}
@keyframes portapp {
   0% { opacity: 0; transform: translate(-1000px,0px) rotate(0deg) ;  }
   50% { opacity: 1;  }
   60% { transform: translate(30px,0px) rotate(0deg) ;  }
   80% { transform: translate(-10px,0px) rotate(0deg) ;  }
   100% { transform: translate(0px,0px) rotate(0deg) ;  }
}
.contact{
	animation: conapp;
	animation-duration: 5s;
	opacity: 0.8;
	float: right;
	background-color: black;
	width: 35vw;
	height: 90%;
	margin-right: 10vw;
	margin-top: 3%;
}
@keyframes conapp {
   0% { opacity: 0; transform: translate(1000px,0px) rotate(0deg) ;  }
   50% { opacity: 1;  }
   60% { transform: translate(-30px,0px) rotate(0deg) ;  }
   80% { transform: translate(10px,0px) rotate(0deg) ;  }
   100% { transform: translate(0px,0px) rotate(0deg) ;  }
}
.por{
	cursor: context-menu;
	color: white;
	text-align:center;
	font-size: 4vw;
    font-family: 'Oswald', sans-serif;
}

.mySlides {
	display: none;
}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
  	margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 2vh;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  top: 99%;
}

/* Number text (1/5 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 1.8vh;
  padding: 8px 12px;
  position: absolute;
  top: 99%;
}

/* The dots/bullets/indicators */
.dot {
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.con{
	color: white;
	text-align:center;
	font-size: 2vw;
    font-family: 'Oswald', sans-serif;
    transition: 0.5s;
    cursor: pointer;
}
.con:hover{
	transform: scale(1.33);
}
input,#message 	{
	color: white;
}
.btn{
	margin-left: -13px;
	color: black;
	background-color: white;
}
.btn:hover{
	background-color: grey;
}
.social-icons {
	bottom: 5%;
    margin: 0 auto;
    /* You just need to change the width and height
    of your div here.
    The size of the images will adapt automatically.
    Make sure that the width is 5 times the height
    for better results.*/
    position: relative;
}


.social-icons .social-icons-image {
    display: inline-block;
    position: absolute;
    width: 33%;
    height: auto;
    z-index: 2;
    opacity: 1;
    transition: all .5s;
    padding: 2%;
    box-sizing: border-box;
}

.social-icons .social-icons-image a {
    display: inline-block;
    width: 100%;
    height: 100%;
}


.social-icons img {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.social-icons a:hover img {
    width: 110%;
    height: auto;
    margin: -5%;
}

.social-icons .social-icons-image:nth-child(1) {
    left: 33.755%;   /*(nth-child(2).left - (50% * 20%)/4)*/
    top: 25%; /*((100%-50%)/2)*/
    z-index: 0;
    width: 10%; /*(50% * 20%)*/
    height: auto;
    opacity: .5;
}


.social-icons .social-icons-image:nth-child(2) {
    left: 36.25%;   /*(40% - (75% * 20%)/4)*/
    top: 12.5%; /*((100%-75%)/2)*/
    z-index: 1;
    width: 15%; /*(75% * 20%)*/
    height: auto;
    opacity: .75;
}

.social-icons .social-icons-image:nth-child(3) {
    left: 40%;
    z-index: 2;
    width: 20%;
    height: auto;
}

.social-icons .social-icons-image:nth-child(4) {
    left: 48.75%; /*(60% - 3*(75% * 20%)/4*/
    top: 12.5%; /*((100%-75%)/2)*/
    z-index: 1;
    width: 15%; /*(75% * 20%)*/
    height: auto;
    opacity: .75;
}

.social-icons .social-icons-image:nth-child(5) {
    left: 56.25%;   /*(nth-child(4).left + (nth-child(4).width- 3*(50% * 20%)/4)*/
    top: 25%; /*((100%-50%)/2)*/
    z-index: 0;
    width: 10%; /*(50% * 20%)*/
    height: auto;
    opacity: .5;
}

.social-icons:hover .social-icons-image:nth-child(1) {
    top: 0px;
    left: 0%;
    width: 20%;
    opacity: 1;
}

.social-icons:hover .social-icons-image:nth-child(2) {
    top: 0px;
    left: 20%;
    width: 20%;
    opacity: 1;
}

.social-icons:hover .social-icons-image:nth-child(4) {
    top: 0px;
    left: 60%;
    width: 20%;
    opacity: 1;
}

.social-icons:hover .social-icons-image:nth-child(5) {
    top: 0px;
    left: 80%;
    width: 20%;
    opacity: 1;
}
